body {
    font-family: 'Roboto', sans-serif;
    background-color: $light-mode-background;
    color: $light-mode-color;
}
.dark-mode body {
    background-color: $dark-mode-background;
    color: $dark-mode-color;
}

.sepia-mode body {
    background-color: $sepia-mode-background;
    color: $sepia-mode-color;
}

.dark-mode .card {
    color: $light-mode-color;
}

.dark-mode .navigation .navigation__background {
    background-image: radial-gradient($dark-mode-background, #333);
    color: $dark-mode-color;
}
.sepia-mode .navigation .navigation__background {
    background-image: radial-gradient($sepia-mode-background, #333);
    color: $sepia-mode-color;
}
